<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accounting</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" media="all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">

    <style media="print">
  .noPrint{ display: none; }
  .yesPrint{ display: block !important; word-wrap:break-word;}
        .mainTable{width: 100%;}
</style>
</head>
<body>
	<div class="container">
		<div class="row noPrint">
			<div class="col-md-6 offset-4 ">
				<div style="margin-left: 50px" class="logo">
					<h1>All department list</h1>
				</div>
			</div>
		</div>
		<div class="row yesPrint">
			<div class="col-8 offset-2">
				<table class="mainTable table-striped tableWithButtons">
					<thead class="mainMenu">
						<th data-type="string">Number of employees</th>
						<th data-type="string">Department name</th>
						<th data-type="string">Subdivision name</th>
					</thead>
					<tbody class="mainList workersList">
                    {% for depart in department_html %}
                        <tr style="color: black">
                            <td>{{ depart[2] }}</td>
							<td>{{ depart[0].name }}</td>
							<td>{{ depart[1].name }}</td>
                            <td style="border-top:  1px solid rgb(242, 236, 244); border-right: 0px;">
                                <div class="acceptButton Change1">
                                    <a class="acceptHref" href="/editDepartments/{{ depart[0].id}}">Change</a>
                                </div>
                                <div class="SecondDivButton">
                                    <form action="{{ url_for('delete_depart', ids=depart[0].id) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-danger Delete1 delete">
                                    </form>
                                </div>
                            </td>

                            {% for worksheet in work_names %}
                                <tr class="workers" hidden="hidden">
                                {% if worksheet.department_id == depart[0].id %}
                                    <td colspan="3">{{worksheet.name}}</td>
                                    <td colspan="1">
                                        <div class="acceptButton MainChange1">
                                    <a class="acceptHref" href="/editWorksheet/{{ worksheet.id}}">Details</a>
                                        </div>
                                        <div class="MainSecondDivButton">
                                            <form action="{{ url_for('delete_worksheet', ids=worksheet.id) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="submit" value="Lay off" class="btn btn-danger MainDelete1">
                                            </form>
                                        </div>

                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}


						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>

        <div class="col-1 offset-1">
            <a class="btn btn-success AddButton"  href="/addDepartment">Add department</a>
            <a class="btn btn-info BackButton"  href="/MainPage">Back to main page</a>
        </div>
    </div>

    <script>
        let workersList = document.getElementsByClassName("workersList")[0];
        for(let i=0;i<workersList.rows.length;i++){
            if(!workersList.rows[i].classList.contains('workers')) {
                workersList.rows[i].onclick = function () {
                    let j = i+1;
                    while(workersList.rows[j].classList.contains('workers')){
                        workersList.rows[j].hidden = !workersList.rows[j].hidden;
                        j++;
                    }
                }
            }
        }
    </script>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>